rootfs/etc/node-red/flows.json
[
    {
        "id": "0f3c5bd285141d40",
        "type": "tab",
        "label": "Warning - Avertissement",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b1ca67b21089b915",
        "type": "tab",
        "label": "Initialisations MQTT-Cloud",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a1c7ea549b32dfc9",
        "type": "tab",
        "label": "MQTT-Cloud-out",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "cae51940ae4cfae7",
        "type": "tab",
        "label": "MQTT-Cloud-In",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d9178a09ade71024",
        "type": "group",
        "z": "b1ca67b21089b915",
        "name": "Initialisation des variables",
        "style": {
            "stroke": "#000000",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "c8e26f4ca5e76e36",
            "c1fd93cd8f38ea7c"
        ],
        "x": 28,
        "y": 73,
        "w": 864,
        "h": 354
    },
    {
        "id": "6c19eb9e84cdf38b",
        "type": "group",
        "z": "b1ca67b21089b915",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "0ec51b6fd8d48038",
            "84db6ed2a0945bdd",
            "a0a0d9469406c5a8",
            "b38da9cc0fe45944",
            "18be8868fd9888b7",
            "567fe9a7f3910323",
            "32d98207bb37887d",
            "9d3d9cd9d0aaf884",
            "ea424593a0b6533a",
            "4a6179de378fa7c5",
            "6fa5d0c215b7e641",
            "8bcf0e0b17b0565f"
        ],
        "x": 34,
        "y": 979,
        "w": 492,
        "h": 282
    },
    {
        "id": "09c8d74836111377",
        "type": "group",
        "z": "b1ca67b21089b915",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "2f1946e570f89af5",
            "4b621344460ef394"
        ],
        "x": 574,
        "y": 1089.199951171875,
        "w": 312,
        "h": 131.800048828125
    },
    {
        "id": "c2c511b3522ee8b0",
        "type": "group",
        "z": "a1c7ea549b32dfc9",
        "name": "Cloud MQTT définitions",
        "style": {
            "stroke": "#0070c0",
            "label": true,
            "color": "#000000",
            "fill": "none",
            "fill-opacity": "0.36"
        },
        "nodes": [
            "f376639c469c1a76",
            "58623a0b92166652",
            "e9140fbdd804c122",
            "8786546418b5a32c"
        ],
        "x": 14,
        "y": 99,
        "w": 732,
        "h": 122
    },
    {
        "id": "b3b9f5f06f6d39ed",
        "type": "group",
        "z": "a1c7ea549b32dfc9",
        "name": "Lire les entités définies par l'utilisateur",
        "style": {
            "label": true,
            "stroke": "#6f2fa0",
            "color": "#000000"
        },
        "nodes": [
            "1c0e7e37c721e7c4",
            "7fc8c29d22abed44",
            "e5c7a98373192fa3",
            "c9e8d64a7cea697b"
        ],
        "x": 14,
        "y": 259,
        "w": 892,
        "h": 82
    },
    {
        "id": "6d8a2197f9b79fe1",
        "type": "group",
        "z": "a1c7ea549b32dfc9",
        "name": "traitement des entités à lire et envoyer vers le broker externe",
        "style": {
            "label": true,
            "stroke": "#6f2fa0",
            "color": "#000000"
        },
        "nodes": [
            "46a372a620414d76",
            "7300a1fc5fc21865",
            "ba41b00845d7113a",
            "d996108243619012",
            "24b002ddce3a8bf8",
            "9cb68cad2f001d89",
            "b372af83215826ef",
            "f7d1fb6492be025f"
        ],
        "x": 14,
        "y": 359,
        "w": 892,
        "h": 182
    },
    {
        "id": "53657bce92f7b1ab",
        "type": "group",
        "z": "cae51940ae4cfae7",
        "name": "Get topics from Cloud Broker",
        "style": {
            "stroke": "#0070c0",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "3e17af36f9437b17",
            "96c1c9a46dd9623e",
            "9d14c08ce76587a6",
            "a1f84e21acec3079",
            "7f9fde987a42e6ec"
        ],
        "x": 64,
        "y": 139,
        "w": 742,
        "h": 142
    },
    {
        "id": "c1fd93cd8f38ea7c",
        "type": "group",
        "z": "b1ca67b21089b915",
        "g": "d9178a09ade71024",
        "name": "MQTT définitions",
        "style": {
            "stroke": "#ffC000",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "0c319b0244658cad",
            "80a0031e2a8dbfbc",
            "355fec0a2e1aaf7a",
            "b82078ca27edc9db",
            "58adbc8abf20aab0",
            "4e25b5fa6500606e"
        ],
        "x": 54,
        "y": 259,
        "w": 752,
        "h": 142
    },
    {
        "id": "c8e26f4ca5e76e36",
        "type": "group",
        "z": "b1ca67b21089b915",
        "g": "d9178a09ade71024",
        "name": "Récupération des variables définies dans la configuration du module depuis l'onglet configuration de HAOS",
        "style": {
            "stroke": "#ffC000",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "12543920bca0a8e5",
            "5c144e0e135713c7",
            "9db46980e482d881",
            "2682276da62a0840",
            "b122ec506872171a",
            "416789eaf381cb09"
        ],
        "x": 54,
        "y": 99,
        "w": 812,
        "h": 122
    },
    {
        "id": "79bd9f312e074d8e",
        "type": "mqtt-broker",
        "name": "Cloud MQTT Broker",
        "broker": "Cloud-MQTT-Broker",
        "port": "8883",
        "tls": "",
        "clientid": "",
        "autoConnect": false,
        "usetls": true,
        "protocolVersion": "5",
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "HomeAssistant-MQTT-Cloud-2way-Synchronizer",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "Online",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "HomeAssistant-MQTT-Cloud-2way-Synchronizer",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "Connection-lost",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "94b7314a.817d4",
        "type": "mqtt-broker",
        "name": "Local MQTT",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "5",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "HomeAssistant-MQTT-Cloud-2way-Synchronizer",
        "birthQos": "0",
        "birthPayload": "Online",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "HomeAssistant-MQTT-Cloud-2way-Synchronizer",
        "willQos": "0",
        "willPayload": "Connection-lost",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "438bd283fc7ed79f",
        "type": "comment",
        "z": "0f3c5bd285141d40",
        "name": "This software is the property of JLM . It is subject to intellectual property and copyright laws.",
        "info": "",
        "x": 330,
        "y": 134,
        "wires": []
    },
    {
        "id": "25c51ee819816528",
        "type": "comment",
        "z": "0f3c5bd285141d40",
        "name": "copyright ©JLM september 2025",
        "info": "",
        "x": 150,
        "y": 74,
        "wires": []
    },
    {
        "id": "ff1ece7fe3612315",
        "type": "comment",
        "z": "0f3c5bd285141d40",
        "name": "Only JLM has the right to modify all or part of this software.",
        "info": "",
        "x": 230,
        "y": 260,
        "wires": []
    },
    {
        "id": "2c25611ae5eaf661",
        "type": "comment",
        "z": "0f3c5bd285141d40",
        "name": "HAOS Encrypted MQTT Cloud Topic bidirectional Synchronizer. Automatic HA entities creation from external sources",
        "info": "",
        "x": 410,
        "y": 200,
        "wires": []
    },
    {
        "id": "e57773e891517763",
        "type": "comment",
        "z": "0f3c5bd285141d40",
        "name": "Do not transmit, copy or modify this software without the written consent of its authors.",
        "info": "",
        "x": 320,
        "y": 320,
        "wires": []
    },
    {
        "id": "1886fc8967eaf339",
        "type": "comment",
        "z": "0f3c5bd285141d40",
        "name": "According to article L335-3 of the French Intellectual Property Code, “infringement of one of the rights of the author of a software program as defined in article L122-6” constitutes an offence of counterfeiting.",
        "info": "",
        "x": 690,
        "y": 380,
        "wires": []
    },
    {
        "id": "212b75fb3d14df62",
        "type": "comment",
        "z": "0f3c5bd285141d40",
        "name": "Any infringement of a software author's rights can therefore be qualified as counterfeiting.",
        "info": "",
        "x": 330,
        "y": 440,
        "wires": []
    },
    {
        "id": "80a0031e2a8dbfbc",
        "type": "inject",
        "z": "b1ca67b21089b915",
        "g": "c1fd93cd8f38ea7c",
        "name": "disconnect",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "action",
                "v": "disconnect",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 300,
        "wires": [
            [
                "4e25b5fa6500606e"
            ]
        ]
    },
    {
        "id": "355fec0a2e1aaf7a",
        "type": "inject",
        "z": "b1ca67b21089b915",
        "g": "c1fd93cd8f38ea7c",
        "name": "connect",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 360,
        "wires": [
            [
                "b82078ca27edc9db"
            ]
        ]
    },
    {
        "id": "b82078ca27edc9db",
        "type": "function",
        "z": "b1ca67b21089b915",
        "g": "c1fd93cd8f38ea7c",
        "name": "Défiition du Broker",
        "func": "msg.action = \"connect\";\nmsg.broker = '{\"broker\":\"' + global.get(\"mqttadresse\")+'\",'\n    + '\"port\":\"' + global.get(\"mqttport\")+'\",'\n    + '\"username\":\"' + global.get(\"mqttuser\")+'\",'\n    + '\"password\":\"' + global.get(\"mqttpass\")+'\"'\n    +'}';\nreturn msg\n\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 360,
        "wires": [
            [
                "58adbc8abf20aab0"
            ]
        ]
    },
    {
        "id": "58adbc8abf20aab0",
        "type": "json",
        "z": "b1ca67b21089b915",
        "g": "c1fd93cd8f38ea7c",
        "name": "",
        "property": "broker",
        "action": "",
        "pretty": false,
        "x": 530,
        "y": 360,
        "wires": [
            [
                "4e25b5fa6500606e",
                "0c319b0244658cad"
            ]
        ]
    },
    {
        "id": "4e25b5fa6500606e",
        "type": "mqtt out",
        "z": "b1ca67b21089b915",
        "g": "c1fd93cd8f38ea7c",
        "name": "Local MQTT",
        "topic": "",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "94b7314a.817d4",
        "x": 710,
        "y": 300,
        "wires": []
    },
    {
        "id": "0c319b0244658cad",
        "type": "debug",
        "z": "b1ca67b21089b915",
        "g": "c1fd93cd8f38ea7c",
        "name": "debug 23",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 360,
        "wires": []
    },
    {
        "id": "12543920bca0a8e5",
        "type": "inject",
        "z": "b1ca67b21089b915",
        "g": "c8e26f4ca5e76e36",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 140,
        "wires": [
            [
                "5c144e0e135713c7"
            ]
        ]
    },
    {
        "id": "5c144e0e135713c7",
        "type": "file in",
        "z": "b1ca67b21089b915",
        "g": "c8e26f4ca5e76e36",
        "name": "",
        "filename": "/data/options.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 370,
        "y": 140,
        "wires": [
            [
                "9db46980e482d881"
            ]
        ]
    },
    {
        "id": "9db46980e482d881",
        "type": "json",
        "z": "b1ca67b21089b915",
        "g": "c8e26f4ca5e76e36",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 530,
        "y": 140,
        "wires": [
            [
                "b122ec506872171a",
                "416789eaf381cb09"
            ]
        ]
    },
    {
        "id": "2682276da62a0840",
        "type": "debug",
        "z": "b1ca67b21089b915",
        "g": "c8e26f4ca5e76e36",
        "name": "debug 97",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 180,
        "wires": []
    },
    {
        "id": "0ec51b6fd8d48038",
        "type": "inject",
        "z": "b1ca67b21089b915",
        "g": "6c19eb9e84cdf38b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 1020,
        "wires": [
            [
                "84db6ed2a0945bdd"
            ]
        ]
    },
    {
        "id": "84db6ed2a0945bdd",
        "type": "change",
        "z": "b1ca67b21089b915",
        "g": "6c19eb9e84cdf38b",
        "name": "GW true ",
        "rules": [
            {
                "t": "set",
                "p": "use_gateway",
                "pt": "global",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "a0a0d9469406c5a8",
        "type": "inject",
        "z": "b1ca67b21089b915",
        "g": "6c19eb9e84cdf38b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 1060,
        "wires": [
            [
                "b38da9cc0fe45944"
            ]
        ]
    },
    {
        "id": "b38da9cc0fe45944",
        "type": "change",
        "z": "b1ca67b21089b915",
        "g": "6c19eb9e84cdf38b",
        "name": "GW false ",
        "rules": [
            {
                "t": "set",
                "p": "use_gateway",
                "pt": "global",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "18be8868fd9888b7",
        "type": "inject",
        "z": "b1ca67b21089b915",
        "g": "6c19eb9e84cdf38b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 1100,
        "wires": [
            [
                "567fe9a7f3910323"
            ]
        ]
    },
    {
        "id": "567fe9a7f3910323",
        "type": "change",
        "z": "b1ca67b21089b915",
        "g": "6c19eb9e84cdf38b",
        "name": "BMS Broadcasting ? True",
        "rules": [
            {
                "t": "set",
                "p": "bms_broadcasting",
                "pt": "global",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 1100,
        "wires": [
            []
        ]
    },
    {
        "id": "32d98207bb37887d",
        "type": "inject",
        "z": "b1ca67b21089b915",
        "g": "6c19eb9e84cdf38b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 1140,
        "wires": [
            [
                "9d3d9cd9d0aaf884"
            ]
        ]
    },
    {
        "id": "9d3d9cd9d0aaf884",
        "type": "change",
        "z": "b1ca67b21089b915",
        "g": "6c19eb9e84cdf38b",
        "name": "BMS Broadcasting ? False",
        "rules": [
            {
                "t": "set",
                "p": "bms_broadcasting",
                "pt": "global",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 1140,
        "wires": [
            []
        ]
    },
    {
        "id": "2f1946e570f89af5",
        "type": "file",
        "z": "b1ca67b21089b915",
        "g": "09c8d74836111377",
        "name": "",
        "filename": "/config/temp/broadcast-bms.txt",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 730,
        "y": 1180,
        "wires": [
            []
        ]
    },
    {
        "id": "4b621344460ef394",
        "type": "function",
        "z": "b1ca67b21089b915",
        "g": "09c8d74836111377",
        "name": "debug en hexa",
        "func": "// Vérifie que le payload est un Buffer\nif (Buffer.isBuffer(msg.payload)) {\n    // Convertit chaque octet en hexadécimal sur 2 chiffres\n    msg.payload = msg.payload\n        .toString('hex')                // Convertit tout le buffer en une chaîne hexadécimale continue\n        .match(/.{1,2}/g)               // Coupe la chaîne tous les 2 caractères\n        .join(' ') + '\\n';              // Ajoute un espace entre chaque octet et un retour à la ligne\n} else if (Array.isArray(msg.payload)) {\n    // Si c'est un tableau, on le traite aussi\n    msg.payload = msg.payload\n        .map(x => x.toString(16).padStart(2, '0'))\n        .join(' ') + '\\n';\n} else {\n    // Sinon, on ne fait rien ou on peut lever une erreur\n    msg.payload = 'Payload non reconnu\\n';\n}\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 682.2000122070312,
        "y": 1130.199951171875,
        "wires": [
            [
                "2f1946e570f89af5"
            ]
        ]
    },
    {
        "id": "ea424593a0b6533a",
        "type": "inject",
        "z": "b1ca67b21089b915",
        "g": "6c19eb9e84cdf38b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 1180,
        "wires": [
            [
                "4a6179de378fa7c5"
            ]
        ]
    },
    {
        "id": "4a6179de378fa7c5",
        "type": "change",
        "z": "b1ca67b21089b915",
        "g": "6c19eb9e84cdf38b",
        "name": "communication_debug true ",
        "rules": [
            {
                "t": "set",
                "p": "communication_debug",
                "pt": "global",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 1180,
        "wires": [
            []
        ]
    },
    {
        "id": "6fa5d0c215b7e641",
        "type": "inject",
        "z": "b1ca67b21089b915",
        "g": "6c19eb9e84cdf38b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 1220,
        "wires": [
            [
                "8bcf0e0b17b0565f"
            ]
        ]
    },
    {
        "id": "8bcf0e0b17b0565f",
        "type": "change",
        "z": "b1ca67b21089b915",
        "g": "6c19eb9e84cdf38b",
        "name": "communication_debug false ",
        "rules": [
            {
                "t": "set",
                "p": "communication_debug",
                "pt": "global",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 1220,
        "wires": [
            []
        ]
    },
    {
        "id": "b122ec506872171a",
        "type": "debug",
        "z": "b1ca67b21089b915",
        "g": "c8e26f4ca5e76e36",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 180,
        "wires": []
    },
    {
        "id": "416789eaf381cb09",
        "type": "function",
        "z": "b1ca67b21089b915",
        "g": "c8e26f4ca5e76e36",
        "name": "traitement des variables",
        "func": "// Récupération des données du payload\nconst data = msg.payload;\n\n// Fonction pour traiter les champs contenant \":\"\nfunction processAddressPortFields(data) {\n    const processedData = {...data}; // Copie de l'objet original\n    \n    // Liste des champs à traiter (ceux qui peuvent contenir adresse:port)\n    const fieldsToProcess = [\n        { field: 'gateway_ip_port', addressField: 'gateway_ip', portField: 'gateway_port' },\n        { field: 'mqttadresse_port', addressField: 'mqttadresse', portField: 'mqttport' },\n        { field: 'cloud_broker_adress_port', addressField: 'cloud_broker_adress', portField: 'cloud_broker_port' }\n    ];\n    \n    fieldsToProcess.forEach(config => {\n        if (processedData[config.field] && typeof processedData[config.field] === 'string') {\n            const value = processedData[config.field];\n            \n            // Vérifier si le champ contient \":\"\n            if (value.includes(':')) {\n                const lastColonIndex = value.lastIndexOf(':'); // Utilise le dernier \":\" pour gérer les IPv6\n                const address = value.substring(0, lastColonIndex);\n                const port = value.substring(lastColonIndex + 1);\n                \n                // Ajouter les champs séparés\n                processedData[config.addressField] = address;\n                processedData[config.portField] = parseInt(port, 10);\n                \n                node.log(`Champ '${config.field}' traité: ${address}:${port}`);\n            }\n            \n            // Supprimer le champ original avec \"_port\" \n            delete processedData[config.field];\n        }\n    });\n    \n    return processedData;\n}\n\n// Extraction et stockage des variables globales\ntry {\n    // Traitement préalable des champs avec \":\"\n    const processedData = processAddressPortFields(data);\n    \n    // Paramètres MQTT\n    if (processedData.mqttadresse) {\n        global.set(\"mqttadresse\", processedData.mqttadresse);\n        node.log(\"Variable globale 'mqttadresse' = \" + processedData.mqttadresse);\n    }\n    \n    if (processedData.mqttport) {\n        global.set(\"mqttport\", processedData.mqttport);\n        node.log(\"Variable globale 'mqttport' = \" + processedData.mqttport);\n    }\n    \n    if (processedData.mqttuser) {\n        global.set(\"mqttuser\", processedData.mqttuser);\n        node.log(\"Variable globale 'mqttuser' = \" + processedData.mqttuser);\n    }\n    \n    if (processedData.mqttpass) {\n        global.set(\"mqttpass\", processedData.mqttpass);\n        node.log(\"Variable globale 'mqttpass' = \" + processedData.mqttpass);\n    }\n\n    // Configuration Cloud Broker\n    if (processedData.cloud_broker !== undefined) {\n        global.set(\"cloud_broker\", processedData.cloud_broker);\n        node.log(\"Variable globale 'cloud_broker' = \" + processedData.cloud_broker);\n    }\n    \n    if (processedData.cloud_broker_adress) {\n        global.set(\"cloud_broker_adress\", processedData.cloud_broker_adress);\n        node.log(\"Variable globale 'cloud_broker_adress' = \" + processedData.cloud_broker_adress);\n    }\n    \n    if (processedData.cloud_broker_port) {\n        global.set(\"cloud_broker_port\", processedData.cloud_broker_port);\n        node.log(\"Variable globale 'cloud_broker_port' = \" + processedData.cloud_broker_port);\n    }\n    \n    if (processedData.cloud_broker_user) {\n        global.set(\"cloud_broker_user\", processedData.cloud_broker_user);\n        node.log(\"Variable globale 'cloud_broker_user' = \" + processedData.cloud_broker_user);\n    }\n    \n    if (processedData.cloud_broker_pass) {\n        global.set(\"cloud_broker_pass\", processedData.cloud_broker_pass);\n        node.log(\"Variable globale 'cloud_broker_pass' = \" + processedData.cloud_broker_pass);\n    }\n    \n    if (processedData.cloud_HA_long_term_access_tokens) {\n        global.set(\"cloud_HA_long_term_access_tokens\", processedData.cloud_HA_long_term_access_tokens);\n        node.log(\"Variable globale 'cloud_HA_long_term_access_tokens' = \" + processedData.cloud_HA_long_term_access_tokens);\n    }\n\n    // Message de confirmation\n    msg.payload = {\n        status: \"success\",\n        message: \"Variables globales créées avec succès\",\n        variables: {\n            mqttadresse: global.get(\"mqttadresse\"),\n            mqttport: global.get(\"mqttport\"),\n            mqttuser: global.get(\"mqttuser\"),\n            mqttpass: global.get(\"mqttpass\"),\n            cloud_broker_adress: global.get(\"cloud_broker_adress\"),\n            cloud_broker_port: global.get(\"cloud_broker_port\"),\n            cloud_broker_user: global.get(\"cloud_broker_user\"),\n            cloud_broker_pass: global.get(\"cloud_broker_pass\"),\n            cloud_HA_long_term_access_tokens: global.get(\"cloud_HA_long_term_access_tokens\")\n        },\n        processedData: processedData // Pour debugging\n    };\n\n} catch (error) {\n    node.error(\"Erreur lors de la création des variables globales: \" + error.message);\n    msg.payload = {\n        status: \"error\",\n        message: error.message\n    };\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 140,
        "wires": [
            [
                "2682276da62a0840"
            ]
        ]
    },
    {
        "id": "354c27a1f08ed79c",
        "type": "comment",
        "z": "a1c7ea549b32dfc9",
        "name": "Récupère les entités définies par l'utilisateur via le broker MQTT et les envoies vers le Cloud (ex: HiveMQ)",
        "info": "",
        "x": 380,
        "y": 40,
        "wires": []
    },
    {
        "id": "f376639c469c1a76",
        "type": "inject",
        "z": "a1c7ea549b32dfc9",
        "g": "c2c511b3522ee8b0",
        "name": "disconnect",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "action",
                "v": "disconnect",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "0.6",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 140,
        "wires": [
            [
                "e9140fbdd804c122"
            ]
        ]
    },
    {
        "id": "58623a0b92166652",
        "type": "inject",
        "z": "a1c7ea549b32dfc9",
        "g": "c2c511b3522ee8b0",
        "name": "connect",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1.1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 180,
        "wires": [
            [
                "8786546418b5a32c"
            ]
        ]
    },
    {
        "id": "1c0e7e37c721e7c4",
        "type": "inject",
        "z": "a1c7ea549b32dfc9",
        "g": "b3b9f5f06f6d39ed",
        "name": "60's",
        "props": [],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": 2,
        "topic": "",
        "x": 110,
        "y": 300,
        "wires": [
            [
                "7fc8c29d22abed44"
            ]
        ]
    },
    {
        "id": "7fc8c29d22abed44",
        "type": "file in",
        "z": "a1c7ea549b32dfc9",
        "g": "b3b9f5f06f6d39ed",
        "name": "Lire entities_list.json",
        "filename": "/config/configentities_list.json",
        "filenameType": "str",
        "format": "utf8",
        "allProps": false,
        "x": 320,
        "y": 300,
        "wires": [
            [
                "e5c7a98373192fa3"
            ]
        ]
    },
    {
        "id": "e5c7a98373192fa3",
        "type": "json",
        "z": "a1c7ea549b32dfc9",
        "g": "b3b9f5f06f6d39ed",
        "name": "Parse JSON",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 550,
        "y": 300,
        "wires": [
            [
                "c9e8d64a7cea697b"
            ]
        ]
    },
    {
        "id": "c9e8d64a7cea697b",
        "type": "function",
        "z": "a1c7ea549b32dfc9",
        "g": "b3b9f5f06f6d39ed",
        "name": "Sauve dans variable",
        "func": "flow.set(\"Entity_to_topics\", msg.payload);\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "46a372a620414d76",
        "type": "split",
        "z": "a1c7ea549b32dfc9",
        "g": "6d8a2197f9b79fe1",
        "name": "Un msg par entité",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "stream": false,
        "addname": "",
        "x": 530,
        "y": 440,
        "wires": [
            [
                "9cb68cad2f001d89"
            ]
        ]
    },
    {
        "id": "7300a1fc5fc21865",
        "type": "http request",
        "z": "a1c7ea549b32dfc9",
        "g": "6d8a2197f9b79fe1",
        "name": "API HAOS - Get state",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://homeassistant:8123/api/states/{{{payload}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "bearer",
        "senderr": false,
        "headers": [],
        "x": 160,
        "y": 500,
        "wires": [
            [
                "ba41b00845d7113a"
            ]
        ]
    },
    {
        "id": "ba41b00845d7113a",
        "type": "function",
        "z": "a1c7ea549b32dfc9",
        "g": "6d8a2197f9b79fe1",
        "name": "Préparer MQTT",
        "func": "let entity = msg.payload.entity_id;\n\n// Supprimer le préfixe avant le \".\"\nlet shortName = entity.includes(\".\") ? entity.split(\".\")[1] : entity;\n\nmsg.topic = \"jkbms-addon/\" + shortName;\n\n// Conversion du state\nlet val = msg.payload.state;\nif (!isNaN(val)) {\n    // Si c'est un nombre (ex: \"00287\"), on convertit en Number\n    msg.payload = Number(val);\n} else {\n    // Sinon, on garde tel quel (utile pour \"on\", \"off\", \"unknown\", etc.)\n    msg.payload = val;\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 500,
        "wires": [
            [
                "b372af83215826ef"
            ]
        ]
    },
    {
        "id": "d996108243619012",
        "type": "inject",
        "z": "a1c7ea549b32dfc9",
        "g": "6d8a2197f9b79fe1",
        "name": "5s'",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": "3",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 440,
        "wires": [
            [
                "24b002ddce3a8bf8"
            ]
        ]
    },
    {
        "id": "24b002ddce3a8bf8",
        "type": "change",
        "z": "a1c7ea549b32dfc9",
        "g": "6d8a2197f9b79fe1",
        "name": "Get entities",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Entity_to_topics",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "token",
                "pt": "msg",
                "to": "cloud_HA_long_term_access_tokens",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 440,
        "wires": [
            [
                "46a372a620414d76"
            ]
        ]
    },
    {
        "id": "9cb68cad2f001d89",
        "type": "function",
        "z": "a1c7ea549b32dfc9",
        "g": "6d8a2197f9b79fe1",
        "name": "Prep. Header HTTP",
        "func": "msg.headers = {};\nmsg.headers['Authorization'] = \"Bearer \" + msg.token;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 440,
        "wires": [
            [
                "7300a1fc5fc21865"
            ]
        ]
    },
    {
        "id": "e9140fbdd804c122",
        "type": "mqtt out",
        "z": "a1c7ea549b32dfc9",
        "g": "c2c511b3522ee8b0",
        "name": "Cloud MQTT Broker",
        "topic": "",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "79bd9f312e074d8e",
        "x": 620,
        "y": 140,
        "wires": []
    },
    {
        "id": "b372af83215826ef",
        "type": "mqtt out",
        "z": "a1c7ea549b32dfc9",
        "g": "6d8a2197f9b79fe1",
        "name": "Cloud MQTT Broker",
        "topic": "",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "79bd9f312e074d8e",
        "x": 600,
        "y": 500,
        "wires": []
    },
    {
        "id": "8786546418b5a32c",
        "type": "change",
        "z": "a1c7ea549b32dfc9",
        "g": "c2c511b3522ee8b0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "connect",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "broker.broker",
                "pt": "msg",
                "to": "cloud_broker_adress",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "broker.port",
                "pt": "msg",
                "to": "cloud_broker_port",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "broker.username",
                "pt": "msg",
                "to": "cloud_broker_user",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "broker.password",
                "pt": "msg",
                "to": "cloud_broker_pass",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 180,
        "wires": [
            [
                "e9140fbdd804c122"
            ]
        ]
    },
    {
        "id": "f7d1fb6492be025f",
        "type": "inject",
        "z": "a1c7ea549b32dfc9",
        "g": "6d8a2197f9b79fe1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 400,
        "wires": [
            [
                "24b002ddce3a8bf8"
            ]
        ]
    },
    {
        "id": "3e17af36f9437b17",
        "type": "mqtt in",
        "z": "cae51940ae4cfae7",
        "g": "53657bce92f7b1ab",
        "name": "Cloud MQTT IN",
        "topic": "device/#",
        "qos": "0",
        "datatype": "auto",
        "broker": "79bd9f312e074d8e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 180,
        "wires": [
            [
                "96c1c9a46dd9623e",
                "a1f84e21acec3079"
            ]
        ]
    },
    {
        "id": "96c1c9a46dd9623e",
        "type": "function",
        "z": "cae51940ae4cfae7",
        "g": "53657bce92f7b1ab",
        "name": "Mapper Discovery/State",
        "func": "// Découper le topic\nvar parts = msg.topic.split(\"/\");\nif (parts.length < 4) return null;\n\nvar device = parts[1];   // ex: device name\nvar entity = parts[2];   // ex: tension\nvar type   = parts[3];   // config | state\n\nif (type === \"config\") {\n    var cfg = {};\n    try {\n        cfg = JSON.parse(msg.payload);\n    } catch(e) {\n        node.error(\"Payload config non JSON valide : \" + msg.payload);\n        return null;\n    }\n\n    var discovery_topic = \"homeassistant/\" + cfg.component + \"/\" + device + \"/\" + entity + \"/config\";\n\n    cfg = Object.assign(cfg, {\n        state_topic: \"device/\" + device + \"/\" + entity + \"/state\",\n        command_topic: \"device/\" + device + \"/\" + entity + \"/set\",\n        unique_id: device + \"_\" + entity,\n        device: { identifiers: [device], name: device }\n    });\n\n    return { topic: discovery_topic, payload: JSON.stringify(cfg), retain: true };\n}\n\nif (type === \"state\") {\n    return { topic: \"device/\" + device + \"/\" + entity + \"/state\", payload: msg.payload, retain: false };\n}\n\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 180,
        "wires": [
            [
                "9d14c08ce76587a6",
                "7f9fde987a42e6ec"
            ]
        ]
    },
    {
        "id": "9d14c08ce76587a6",
        "type": "mqtt out",
        "z": "cae51940ae4cfae7",
        "g": "53657bce92f7b1ab",
        "name": "Local MQTT out",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "94b7314a.817d4",
        "x": 700,
        "y": 180,
        "wires": []
    },
    {
        "id": "a1f84e21acec3079",
        "type": "debug",
        "z": "cae51940ae4cfae7",
        "g": "53657bce92f7b1ab",
        "name": "debug 8",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 190,
        "y": 240,
        "wires": []
    },
    {
        "id": "7f9fde987a42e6ec",
        "type": "debug",
        "z": "cae51940ae4cfae7",
        "g": "53657bce92f7b1ab",
        "name": "debug 9",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 430,
        "y": 240,
        "wires": []
    },
    {
        "id": "1cd5906d31d95ec9",
        "type": "comment",
        "z": "cae51940ae4cfae7",
        "name": "Récupérer les topics provenants d'un broker cloud et envoi vers broker interne",
        "info": "Les Topics doivent commencer par **device/#**",
        "x": 350,
        "y": 60,
        "wires": []
    }
]